@font-face {
    font-family: 'FoundersGrotesk';
    src: url('./fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
         url('./fonts/FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600; /* Adjust as per your font's weight */
    font-style: normal;
  }
  
  /* Neue Montreal */
  @font-face {
    font-family: 'NeueMontreal';
    src: url('./fonts/NeueMontreal-Regular.woff2') format('woff2'),
         url('./fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }